extends layout

block content
    .content
        h1= title
        br
        form(id="form" action="/view_resource" onsubmit="return send(this)")
            label(for="resource_uuid") Resource UUID
            input(id="resource_uuid" type="text" name="resource_uuid")
            input(type="submit")

append scripts
    script.
      $(function () {
        $("#nav-dropdown-create-insert_resource").addClass("active");
        $("#nav-dropdown-create").addClass("active");
      });

      function send() {

      }


