doctype html
html
    head
        block head
            title= "SmartHome-REST - " + title
            link(rel="stylesheet", href="/stylesheets/style.css")
            link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body
        block nav
            nav(class="navbar sticky-top navbar-expand-md navbar-dark bg-dark")
                a.navbar-brand(href="/")
                    img(src="/images/hh.png" height="30" width="30" alt="Home")
                div(class="collapse navbar-collapse" id="navbarNav")
                    ul.navbar-nav
                        li(class="nav-item dropdown" id="nav-dropdown-create")
                            a(class="nav-link dropdown-toggle" href="#" id="navbarCreateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") CREATE
                            .dropdown-menu(aria-labelledby="navbarCreateDropdown")
                                a.dropdown-item(id="nav-dropdown-create-insert_resource" href="/insert_resource") Resource
                                a.dropdown-item(id="nav-dropdown-create-insert_row" href="/insert_row") Row
                        li(class="nav-item dropdown" id="nav-dropdown-read")
                            a(class="nav-link dropdown-toggle" href="#" id="navbarReadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") READ
                            .dropdown-menu(aria-labelledby="navbarReadDropdown")
                                a.dropdown-item(id="nav-dropdown-read-resources" href="/read_resources") All Resources
                                a.dropdown-item(id="nav-dropdown-read-resource" href="/read_resource") One Resource
                        li(class="nav-item dropdown" id="nav-dropdown-update")
                            a(class="nav-link dropdown-toggle" href="#" id="navbarUpdateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") UPDATE
                            .dropdown-menu(aria-labelledby="navbarUpdateDropdown")
                                a.dropdown-item(id="nav-dropdown-update-resource" href="/update_resource") Resource Metadata
                        li(class="nav-item dropdown" id="nav-dropdown-delete")
                            a(class="nav-link dropdown-toggle" href="#" id="navbarDeleteDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") DELETE
                            .dropdown-menu(aria-labelledby="navbarDeleteDropdown")
                                a.dropdown-item(id="nav-dropdown-delete-resource" href="/delete_resource") Whole resource
        .container
            br
            block content
        block scripts
            script(src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
