extends layout

block content
    .content
        h1= title
        br
        div(class="alert alert-danger" style="display: none" id="errorDiv")
        form(id="form" action="javascript:;" onsubmit="send()")
            .form-group
                label(for="resource_uuid") Resource UUID:
                input.form-control(id="resource_uuid" type="text" required)
            .form-group
                label(for="column") Column:
                select.custom-select(id="column" name="column" required)
                    option(value="resource_type") Resource Type
                    option(value="resource_model") Resource Model
                    option(value="resource_adapter") Resource Adapter
                    option(value="name") Name
                    option(value="description") Description
                    option(value="string_configuration") String Configuration
                    option(value="host_ip") Host IP
                    option(value="auto_start") Auto Start
                    option(value="keep_connected") Keep connected
            .form-group
                label(for="value") Value:
                input.form-control(id="value" name="value" required)
            .form-group
                input(class="btn btn-dark" type="submit")
                | &nbsp;
                input(class="btn btn-secondary" type="reset")
append scripts
    script.
      $(function () {
        $("#nav-dropdown-update-resource").addClass("active");
        $("#nav-dropdown-update").addClass("active");
      });

      function send() {
        let resource_uuid = $("#resource_uuid").val();
        let payload = {};
        payload.column = $("#column").val();
        payload.value = $("#value").val();
        payload = JSON.stringify(payload);
        $.ajax({
          type: "PUT",
          url: "/api/resources/" + resource_uuid,
          data: payload,
          contentType: "application/json"
        }).done(function () {
          window.location = "/read_resources";
        }).fail(function (statusText) {
          console.log(statusText);
          let element = $("#errorDiv");
          element.html("<p>" + statusText + "</p>");
          element.css("display", "block");
        });
      }

